@{
    ViewData["Title"] = "Home Page";
}

<div class="mt-5 pt-5">
    <div class="d-flex justify-content-center">
        <div>
            <input class="form-control form-control-lg" id="csvUploadInput" type="file" accept="text/csv">
        </div>
    </div>
</div>

<script>
    indexPageScript("Home/Playlist");
</script>